#macr
<tr>

<td><img src=\ #set ($link = "images/file.png")
 \ #set ($size = 20)></img>
 <a href=\"" #set ($name = folder.getName())  \>
 </a></td>
<td> #set ($modified = folder.lastModified()) </td>
 <td></td>
</tr>
#end
#end
#end
#end
#end
#end